/* Write your CSS here */

.background {
  background-color: #1e293b;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heading {
  font-family: Bree Serif;
  color: #f0bb03;
  font-weight: bold;
}

.text {
  color: #ffffff;
  font-family: Bree Serif;
}

.button {
  background-color: #ffffff;
  color: #1e293b;
  border-width: 0px;
  padding: 8px;
  border-radius: 5px;
  font-family: Bree Serif;
  font-weight: bold;
}
